:root {
    --primary-color: #6120ca;
    --secondary-color: #FFD73B;
    --tertiary-color: #f51b5c;

    --white-color: #ffffff;
    --black-color: #000000;

    --light-gray-color: #EEEEEE;

    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}